templates sayBottleCount
  <1>
    '1 bottle'
  <0>
    'no bottles'
  <>
    '$it bottles'
end sayBottleCount

99..1:-1 ->
'$sayBottleCount bottles of beer on the wall
$sayBottleCount bottles of beer
Take one down, pass it around
$($it - 1 -> sayBottleCount) bottles of beer on the wall

' -> stdout
