templates sayBottleCount
  <=1>
    '1 bottle' !
  <=0>
    'No bottles' !
  <>
    '$; bottles' !
end sayBottleCount

99..1:-1 ->
'$->sayBottleCount; of beer on the wall,
$->sayBottleCount; of beer.
Take one down, pass it around,
$: $ - 1 -> sayBottleCount; of beer on the wall.

' -> !OUT::write
