templates bubblesort
  templates bubble
    $it(1) -> :
    $it(2..-1)... -> #
    $: !
    <..$:>
      $it !
    <>
      $: !
      $it -> :
  end bubble
  $it -> :
  def indexes: $it -> [i]($i!)
  // Currently no good way to break early since any checking of conditions tends to be recursion
  $indexes(-1..2:-1)... -> (
    [ $:bubblesort(1..$it) -> bubble, $:bubblesort($it+1..-1)... ] -> :bubblesort
  ) !
  $: !
end bubblesort

[4,5,3,8,1,2,6,7,9,8,5] -> bubblesort -> stdout
