templates fibonacciNstep10
  templates next
    $it(1) -> @next
    $it(2..-1)... -> ($it + $@next -> @next) !
    [ $it(2..-1)..., $@next ] !
  end next

  $it -> @
  1..10 -> #
  <>
    $@(1) !
    $@ -> next -> @
end fibonacciNstep10

[1,1] -> fibonacciNstep10 -> '$it; ' -> stdout
'
' -> stdout

[1,1,2] -> fibonacciNstep10 -> '$it; ' -> stdout
'
' -> stdout

[1,1,2,4] -> fibonacciNstep10 -> '$it; ' -> stdout
'
' -> stdout

[2,1] -> fibonacciNstep10 -> '$it; ' -> stdout
'
' -> stdout
