templates nthFibonacci
  { N: $it, n0: 0, n1: 1 } -> #
  <{ N: <0> }>
    $it.n0 !
  <{ N: <1..>}>
    { N: $it.N - 1, n0: $it.n1, n1: $it.n0 + $it.n1} -> #
  <>
    { N: $it.N + 1, n1: $it.n0, n0: $it.n1 - $it.n0} -> #
end nthFibonacci

8 -> nthFibonacci -> '$it;
' -> !OUT::write
-5 -> nthFibonacci -> '$it;
' -> !OUT::write
