templates nthFibonacci
  <0..>
    { N: $it, n0: 0, n1: 1, sign: 1 } -> #
  <..-1>
    { N: -$it, n0: 0, n1: 1, sign: -1 } -> #

  <{ N: <0> }>
    n0
  <>
    { N: $it.N - 1, n0: $it.n1, n1: $it.n1 + $it.sign * $it.n0, sign: $it.sign} -> #
end nthFibonacci

8 -> nthFibonacci -> stdout
-5 -> nthFibonacci -> stdout
