templates nthFibonacci
  { N: $, n0: 0, n1: 1 } -> #
  <{ N: <=0> }>
    $.n0 !
  <{ N: <1..>}>
    { N: $.N - 1, n0: $.n1, n1: $.n0 + $.n1} -> #
  <>
    { N: $.N + 1, n1: $.n0, n0: $.n1 - $.n0} -> #
end nthFibonacci

8 -> nthFibonacci -> '$;
' -> !OUT::write
-5 -> nthFibonacci -> '$;
' -> !OUT::write
