def input: {N: 110, words: [ { mod: 3, word: 'Fizz' }, { mod: 5, word: 'Buzz'}, {mod:7, word: 'Baxx'}]}

[1..$input.N] ->  [i]('$($input.words... -> (
                      def word: $it.word
                      $i mod $it.mod -> (<0> $word !) !
                  ))' !) -> [i](<''> $i ! <> $it !) -> '$it;
' -> stdout
