templates mergesort
  templates merge
    @: $(2);
    [ $(1)... -> \(
      <?($@merge<[](0)>)
      | ..$@merge(1)>
        $ !
      <>
        ^@merge(1) !
        $ -> #
     \),
     $@...] !
  end merge
  $ -> #

  <[](0..1)> $!
  <>
    def half: $::length ~/ 2;
    [$(1..$half) -> mergesort, $($half+1..last) -> mergesort] -> merge !
end mergesort

[4,5,3,8,1,2,6,7,9,8,5] -> mergesort -> !OUT::write
