templates mergesort
  templates merge
    @: $it(2);
    [ $it(1)... -> (
      <?($@merge<[](0)>)
      | ..$@merge(1)>
        $it !
      <>
        ^@merge(1) !
        $it -> #
     ),
     $@...] !
  end merge
  $it -> #

  <[](0..1)> $it!
  <>
    def half: $it::length / 2;
    [$it(1..$half) -> mergesort, $it($half+1..-1) -> mergesort] -> merge !
end mergesort

[4,5,3,8,1,2,6,7,9,8,5] -> mergesort -> !OUT::write
