templates distinctPerms
  templates perms
    <[](1)> $it(1) !
    <>
      def elements: $it;
      1..$it::length -> (
        def k: $it;
        def tail: $elements -> [i](
          <?($i <$k>)> $it -> (<[](2..)> $it(2..-1)!) !
          <> $it!
        );
        $tail -> perms -> [$elements($k;1), $it...] !
      ) !
  end perms
  $it -> [i]([1..$it -> $i] !) -> perms !
end distinctPerms

def alpha: ['ABC'...];
[[2,3,1] -> distinctPerms -> '$($alpha($it)...)' ] -> !OUT::write
