templates distinctPerms
  templates perms
    <[](1)> $(1) !
    <>
      def elements: $;
      1..$::length -> (
        def k: $;
        def tail: $elements -> [i](
          <?($i <$k>)> $ -> (<[](2..)> $(2..-1)!) !
          <> $!
        );
        $tail -> perms -> [$elements($k;1), $...] !
      ) !
  end perms
  $ -> [i]([1..$ -> $i] !) -> perms !
end distinctPerms

def alpha: ['ABC'...];
[[2,3,1] -> distinctPerms -> '$alpha($)...;' ] -> !OUT::write
