templates sieve
  def limit: $it
  @: [ 2..$limit ]
  1 -> #
  $@ !

  <..$@::length ?($@($it) * $@($it) <..$limit>)>
    templates sift
      def prime: $it
      @: $prime * $prime
      @sieve: [ $@sieve... -> # ]
      <..~$@>
        $it !
      <$@~..>
        @: $@ + $prime
        $it -> #
    end sift

    $@($it) -> sift !
    $it + 1 -> #
end sieve

1000 -> sieve ...->  '$it; ' -> !OUT::write
