templates sieve
  def limit: $;
  @: [ 2..$limit ];
  1 -> #
  $@ !

  <..$@::length ?($@($) * $@($) <..$limit>)>
    templates sift
      def prime: $;
      @: $prime * $prime;
      @sieve: [ $@sieve... -> # ];
      <..~$@>
        $ !
      <$@~..>
        @: $@ + $prime;
        $ -> #
    end sift

    $@($) -> sift !
    $ + 1 -> #
end sieve

1000 -> sieve ...->  '$; ' -> !OUT::write
