sink hello
  'Hello $;' -> !OUT::write
end hello

test 'hello'
  use shadowed core-system/
    processor FakeOut
      @: [];
      sink write
        ..|@FakeOut: $;
      end write
      source next
        ^@FakeOut(1) !
      end next
    end FakeOut

    def OUT: $FakeOut;
  end core-system/

  'John' -> !hello
  assert $OUT::next <='Hello John'> 'Wrote greeting'
end 'hello'